<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj użytkownika</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<a href="/">Powrót do strony głównej</a>
<form action="/addUser" method="post" th:object="${user}">

    <div class="mb-3">
        <label for="name" class="form-label">Imię</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Nazwisko</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Data urodzenia (np 2001-02-03)</label>
        <input type="text" class="form-control" id="date" th:field="*{birthday}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" th:field="*{email}">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="subscription">
        <label class="form-check-label" for="subscription" th:field="*{subscribed}">Zapisz do newslettera</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</body>
</html>